body{    
    background-image: url("/resources/assets/img/background.jpg");
    background-color: #cccccc;
    
    
}
.logo{
    position: fixed;
    width: 18%;
    height: 15%;    
}
.tiposhandpan{
    position: fixed;
    margin-top: 10%;    
}
.handdiv{
    position: fixed;
    top: 15%;
    left: 30%;
    z-index: 1050;
    width: 40%;
    height: 40%;
    align-items: center;
    min-height: calc(100% - 1rem);
    
}

.handpan{
    position: absolute;
    top:5%;  
}
.notas{
    position: fixed;
    top: 0;    
    left: 0;
    z-index: 1060;  
    
}

.nota{    
    
    position: fixed; 
    z-index: 999px;
    /* width:10rem; */
    /* z-index: 999px; */
    
}

.settings-panner{
    position:relative;
    top:-51.5rem;
    left:55rem;
}