{% extends "inc/template.phtml" %}
{% block container %}

<div class="mt-2">
    <img class="img-fluid logo" src="/resources/assets/img/logo-mudra-handpan.png" alt="Mudra Handpan">
</div>

<div class="handdiv">
    <form>
        <div class="row">
            
            <div class="form-group col-6">
                <select class="form-control" id="tipos_handpan">
                    {% for tipohandpan, tipos in tiposHandPan %}
                        {% if tipohandpan == tipoHandPan %}
                            <option value="{{tipohandpan}}" selected>{{tipos.label}}</option>
                        {% else %}
                            <option value="{{tipohandpan}}">{{tipos.label}}</option>
                        {% endif %}
                    {% endfor %}        
                </select>
            </div>
            <div class="form-group col-6">
                <input id="escala" class="form-control" type="text" value="{{escala}}" readonly>
            </div>
            
        </div>

        <div id="loading" class="fa-10x text-center">
            <i class="fas fa-spin fa-yin-yang"></i>
        </div>
        
        <div id="handplayer">
            <img id="handpan" class="img-fluid" src="{{srcImagem}}" alt="">
            <div id="notas" class="notas form-inline col-12">
                {% for key, nota in notas %}
                    <div class="nota {{key}}" nota="{{key}}" style="top:{{nota.position.top}};left:{{nota.position.left}};" panner="{{nota.panner}}">
                        <img id="nota-{{key}}" class="img-fluid" src="{{nota.src_nota}}" alt="">
                        <input type="hidden" id="nota-active-{{key}}" src="{{nota.src_nota_active}}">
                        <input type="hidden" id="audio-{{key}}" class="audio-notas" value="{{nota.src_audio}}">
                    </div>
                {% endfor %}
            </div>
            
            {% for key, bind in binds %}
                <input type="hidden" id="{{key}}" class="binds-notas" value="{{bind}}">
            {% endfor %}
        </div>

        <div id="settings-panner" class="form-row col-4 bg-light settings-panner">            
            <div class="col-12 mt-3">
                <b>Settings:</b>
            </div>
            <div class="form-inline col-12 mt-3">
                <label for="">Volume:</label><span id="volume" class="ml-2 text-primary font-weight-bold"></span>
                <input type="range" class="custom-range" min="-3.40" max="3.40" step="0.10" id="config-volume" name="config-volume">

            </div>
            <div class="form-group col-12 mb-4">
                <label for="">Reverb:</label><span id="reverb" class="ml-2 text-primary font-weight-bold"></span>
                <input type="range" class="custom-range" min="0" max="1" step="0.01" id="config-reverb" name="config-reverb">                
            </div>
        </div>
        
    </form>
</div>

{% endblock %}
