<!-- Modal -->
<div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div id="header-en" class="text_en_us terms">        
            <h5 class="modal-title" id="CenterTitle">Guideline and Terms of Use</h5>
        </div>
        <div id="header-br" class="text_pt_br terms">
            <h5 class="modal-title" id="CenterTitle">Guia e Termos de Uso</h5>
        </div>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
        </div>
        <div class="modal-body">
            <div id="content-en" class="text_en_us terms">
                <p>-We recommend using Desktop with Chrome or Firefox.</p>
                <p>-You can play with your mouse or using the keyboard, from “1” to “0” and “Q” to “P”.</p>
                <p>-To change the scale, click on the list on the top right corner of this page.</p>
                <p>-This virtual player was developed to help people to choose a scale and for recreational purposes. It’s prohibited to use it commercially or copy anything from this page.</p>
            </div>
            <div id="content-br" class="text_pt_br terms">
                <p>-Recomendamos utilizar essa versão em Desktop com Chrome ou Firefox.</p>
                <p>-Para tocar você pode clicar com o mouse diretamente na imagem do instrumento ou utilizar a sequência de teclas de "1" ao "0" e "Q" a "P" de seu teclado.</p>
                <p>-Para trocar de escala, acesse a lista no canto superior direito da página.</p>
                <p>-Esse instrumento virtual foi desenvolvido para auxiliar as pessoas na escolha da escala e para fins recreativos. Está proibido o uso comercial ou cópia de qualquer material contido nessa página.</p>
            </div>
        </div>
        <div class="ml-3 mb-3">
            <button type="button" id="en_us" class="btn btn-danger language">en-US</button>
            <button type="button" id="pt_br" class="btn btn-success language">pt-BR</button>
        </div>
      <div class="modal-footer">        
        <button type="button" id="ok" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>